<h1 mat-dialog-title>City info</h1>
<div mat-dialog-content>
  Here are some interesting facts:
  <ul>
    <li *ngIf="data?.item?.lat">
      <span></span>
      It's Latitude is: {{data?.item?.lat}}
    </li>
    <li *ngIf="data?.item?.lon">
      <span></span>
      <span>It's Longitude is: {{data?.item?.lon}}</span>
    </li>
    <li *ngIf="data?.item?.timezone">
      <span></span>
      The city is in the {{data?.item?.timezone}} Timezone
    </li>
    <li *ngIf="data?.item?.tz_offset">
      <span></span>
      The timezone offset it {{data?.item?.tz_offset}}
    </li>
    <li *ngIf="data?.item?.country">
      <span></span>
      The city's country is {{data?.item?.country}}
    </li>
    <li>
      Some of {{data?.item?.name}} local names are:
      <ul *ngIf="data?.item?.local_name_hu">
        <span></span>
        In Hungarian the city is called {{data?.item?.local_name_hu}}
      </ul>
      <ul *ngIf="data?.item?.local_name_ru">
        <span></span>
        In Russian the city is called {{data?.item?.local_name_ru}}
      </ul>
      <ul *ngIf="data?.item?.local_name_de">
        <span></span>
        In German the city is called {{data?.item?.local_name_de}}
      </ul>
      <ul *ngIf="data?.item?.local_name_fr">
        <span></span>
        In French the city is called {{data?.item?.local_name_fr}}
      </ul>
    </li>
  </ul>
</div>
