<div>

  <header _ngcontent-kwn-c47 focusonnavigation area-label="header" id="homepage-header" class="docs-header-background">
    <div _ngcontent-kwn-c47 class="docs-header-section">
      <div _ngcontent-kwn-c47 class="docs-header-headline">
        <h1 _ngcontent-kwn-c47 class="mat-h1">24h Weather</h1>
        <h2 _ngcontent-kwn-c47>Welcome to your new local weather app</h2>
      </div>
    </div>
    <div _ngcontent-kwn-c47 class="docs-header-start">
      <a _ngcontent-kwn-c47 routerlink="/weather-dashboard"
        class="mat-focus-indicator docs-button mat-raised-button mat-button-base" aria-disabled="false" type="submit"
        (click)="openWeather()">
        Check it out
      </a>
    </div>
  </header>

  <div _ngcontent-kwn-c47 class="docs-homepage-row docs-introduction">
    <div _ngcontent-kwn-c47 class="docs-homepage-row-column">
      <h2 _ngcontent-kwn-c47>Here for 24h a day</h2>
      <p _ngcontent-kwn-c47 *ngFor="let element of dataSource">{{element?.aboutTheApp}}</p>
    </div>
    <div _ngcontent-kwn-c47 class="docs-homepage-row-column">
      <h2 _ngcontent-kwn-c47>The more you know</h2>
      <p _ngcontent-kwn-c47 *ngFor="let element of dataSource">{{element.aboutWeather}}</p>
    </div>
    <div _ngcontent-kwn-c47 class="docs-homepage-row-column">
      <h2 _ngcontent-kwn-c47>About us</h2>
      <p _ngcontent-kwn-c47 *ngFor="let element of dataSource">{{element.aboutUs}}</p>
    </div>
  </div>
  <mat-divider _ngcontent-pmn-c109 role="separator" class="mat-divider mat-divider-horizontal"
    aria-orientation="horizontal"></mat-divider>
  <mat-grid-list cols="4" rowHeight="100px" class="grid-list">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider _ngcontent-pmn-c109 role="separator" class="mat-divider mat-divider-horizontal"
    aria-orientation="horizontal"></mat-divider>
</div>